<form [formGroup]="lectureForm" novalidate (ngSubmit)="onSubmit(lectureForm)">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>{{ title }}</mat-card-title>
            <mat-card-subtitle color="warn">Verfügbarer Zeitraum: 10.03.2020 - 11.05.2020</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Name der Vorlesung *" formControlName="lecture" [(ngModel)]=name />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Kursname *" formControlName="course" [(ngModel)]=course />
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field>
                <mat-label>Prüfungsform</mat-label>
                <mat-select formControlName="exam" [(ngModel)]=exam>
                    <mat-option *ngFor="let exam of exams" [value]="exam.value">
                        {{exam.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Prüfungstermin" formControlName="examDate" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="lectureForm.pristine || lectureForm.invalid" mat-raised-button color="primary"
                type="submit">Speichern</button>
            <button type="button" mat-icon-button color="warn" (click)="deleteLecture()" class="float"
                matTooltip="Vorlesung löschen">
                <mat-icon>delete</mat-icon>
            </button>
            <p class="help is-success">{{success}}</p>
        </mat-card-actions>
    </mat-card>
</form>

<app-dates-table></app-dates-table>

<!-- <img class="wave" src="../../../assets/wave (1).svg"> -->