<div class="parent">
    <mat-card class="example-card div1">
        <mat-card-header>
            <mat-card-title matBadge="7" matBadgePosition="above after" matBadgeOverlap="false">Aktuelle Vorlesungen
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-lecture-table></app-lecture-table>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card div2">
        <mat-card-header>
            <mat-card-title>Vorlesungsplan</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Kalender
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card div3">
        <mat-card-header>
            <mat-card-title>User Konto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-user-account></app-user-account>
        </mat-card-content>
    </mat-card>
</div>