<table mat-table [dataSource]="userSource" multiTemplateDataRows>
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Vorname </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Nachname </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedUserColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedUserColumns;"></tr>
</table>