.mat-form-field {
    margin-right: 12px;
}

.card {
    min-width: 120px;
    margin: 20px;
}

table {
    width: 100%;
}

.mat-stepper-horizontal {
    margin-top: 0px;
}

.mat-form-field {
    margin-top: 2px;
}

button {
    margin: 3px;
}

.float {
    float: right;
}

.header-align-right {
    display: flex;
    padding: 21px 0;
    justify-content: flex-end;
}

.full-width {
    width: 40%;
}