<mat-card class="example-card">
    <div class="parent2">
        <div class="div11">
            <mat-card-header>
                <mat-card-title>
                    Vorlesungzeiten eintragen
                </mat-card-title>
            </mat-card-header>
            <mat-vertical-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Vorlesung eintragen</ng-template>
                        <mat-form-field>
                            <mat-label>Vorlesung</mat-label>
                            <input #name matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Kurs</mat-label>
                            <input #course matInput>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Prüfungsform</mat-label>
                            <mat-select #exam>
                                <mat-option *ngFor="let exam of exams" [value]="exam.value">
                                    {{exam.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperNext>Weiter</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Dozent eintragen</ng-template>
                        <mat-form-field>
                            <mat-label>User-Email</mat-label>
                            <input #user matInput>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Zurück</button>
                            <button mat-button matStepperNext>Weiter</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Vorlesungszeitraum festlegen</ng-template>
                        <mat-form-field>
                            <mat-label>Vorlesungsstart</mat-label>
                            <input #beginDate matInput [matDatepicker]="picker" placeholder="Vorlesungstart" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Vorlesungsende</mat-label>
                            <input #endDate matInput [matDatepicker]="picker2" placeholder="Vorlesungende" />
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <div>
                            <button mat-flat-button matStepperPrevious>Zurück</button>
                            <button mat-flat-button matStepperNext>Weiter</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Fertig!</ng-template>
                    <div>
                        <button mat-flat-button matStepperPrevious>Zurück</button>
                        <button
                            [disabled]="beginDate.value === '' || endDate.value === ''|| name.value === '' || user.value === '' || exam.value === '' || course.value === ''"
                            (click)='onSubmit(name.value, beginDate.value, endDate.value, user.value, course.value, exam.value); name.value = ""'
                            type="submit" mat-flat-button color="primary"> Hinzufügen
                        </button> </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
        <div class="div22">
            <mat-table [dataSource]="dataSource" [class.isMobile]="isMobile">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Vorlesung</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.name}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="course">
                    <mat-header-cell *matHeaderCellDef> Kurs </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">Kurs:</span>
                        {{element.course}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="exam">
                    <mat-header-cell *matHeaderCellDef> Prüfungsform </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">Prüfungsform:</span>
                        {{element.exam}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="start">
                    <mat-header-cell *matHeaderCellDef> Vorlesungsstart </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">Vorlesungsstart:</span>
                        {{element.start}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="end">
                    <mat-header-cell *matHeaderCellDef> Vorlesungsende </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">Vorlesungsende:</span>
                        {{element.end}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="user">
                    <mat-header-cell *matHeaderCellDef> User-Email </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">User-Email :</span>
                        {{element.user}}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
</mat-card>

<div class="div2">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                Nutzer
            </mat-card-title>
            <mat-card-subtitle>Hier sehen Sie alle registrierte Dozenten/Professoren.</mat-card-subtitle>
        </mat-card-header>
        <mat-carad-content>
            <app-user-table></app-user-table>
        </mat-carad-content>
    </mat-card>
</div>