<!-- <mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Raymond Bimazubute</mat-card-title>
        <mat-card-subtitle>Professor</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Email: bima@lehre.dhbw-stuttgart.de</p>
        <p>Passwort: **********</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card> -->

<!-- <div class="container">
    <div class="card">
        <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_square_blue_512dp.png" alt=""
            class="card__img">
        <div class="card__info">
            <div class="card__details">
                <h1 class="card__details-name">{{ lastName() }}</h1>
                <h2 class="card__details-job">{{ firstName() }}</h2>
            </div>
            <p>Email: bima@lehre.dhbw-stuttgart.de</p>
            <p>Passwort: **********</p>
        </div>
    </div> -->