table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #7E8A91;
    cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #555;
}

.example-element-row td {
    border-bottom-width: 0;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    table {
        display: block;
        float: left;
        margin-right: 0.4em;
    }
}