table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #555;
    color: black;
    cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #555;
}

.example-element-row td {
    border-bottom-width: 0;
}